html {
   overflow-x: hidden;
}

#wrapper {
   display: flex;
   align-items: center;

   @media (max-width: 768px) {
      flex-direction: column;
   }
}

#left {
   display: flex;
   width: 50%;
   align-items: center;

   @media (max-width: 768px) {
      width: 100%;
   }
}

.yop-schlop {
   width: 100%;
}

#right-wrapper {
   width: 50%;
   display: flex;
   justify-content: center;

   @media (max-width: 768px) {
      width: 100%;
   }
}

#right {
   width: 85%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.about-heading {
   font-family: "Patua One";
   margin-bottom: 0.25em;
}

.contact {
   margin-top: 2.5em;
   margin-bottom: 0;
}

h4 {
   margin-bottom: 0;

   @media (max-width: 768px) {
      margin-bottom: 1em;
   }
}