.u101-heading {
   display: flex;
   align-items: center;
   margin-bottom: 0;
   cursor: pointer;
   background-color: #8cbc84;
}

.dictionary-heading {
   background-color: #C0C0C0;
}

.u101-heading h2 {
   color: #404A3B;
}

.u101-heading h3 {
   color: #404A3B;
   font-family: "Patua One";
   margin-left: 0.4em;
}

.u101-heading i {
   margin-left: 0.5em;
   margin-right: 0.5em;
   transition: transform 0.5s;
}

.dictionary-heading i {
   margin-left: 1.5em;
}

.ultimate101-img {
   width: 33.1%;
}

.rules h2 {
   color: #404A3B;
   margin-left: 1.5em;
}

.dictionary-heading h2 {
   margin-left: 0;
}

.rules p {
   color: #404A3B;
   margin-left: 1.5em;
}

.rules, .terminology {
   display: none;
}

#dictionary {
   /* border-bottom: 1.5px solid #e9f2e6; */
}